<!doctype html>
<html lang="en" ng-app="snapApp" ng-cloak>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Westpac - Snap</title>
        <link rel="stylesheet" href="css/snap.css"/>


    </head>
    <body ng-controller="MainCtrl">

        <header ng-show="snap">Snap!!!</header>

        <section id="game-table">

            {{playerTurn}}
            <!--cpu cards-->
            <div ng-class="{'turn':playerTurn==1,'noturn':playerTurn==0 }"></div>


            <!--image of the card goes here-->

            <div class="{'spade':lastPickerCard.suit=='s'}"></div>

            {{lastPickedCard.number}}
            {{lastPickedCard.suit}}

            <!--player cards-->
            <div ng-class="{'turn':playerTurn==0,'noturn':playerTurn==1 }" ng-click="pickCard(0)"></div>

        </section>

        <section id="game-controls">
            <button ng-click="callSnap(0);">Snap</button>
            <button ng-click="startGame();">start</button>
        </section>

        <section>slider</section>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
        <script src="scripts/main.js"></script>
    </body>
</html>
